.container_item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container_item__card{
    display: flex;
    min-width: 90%;
    background-color: transparent;
    flex-direction: row;
    padding-left: 0px;
    border: none;
    gap: 10px;
    box-shadow: none;
    border-radius: none;
}
.container_item__card__img img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.container_item__card__body{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    padding: 5px 10px 10px 25px;
}

.container_item__card__body__title{
    text-align: left;
    margin-top: 0px;
    
}
.container_item__card__body__subtitle-1{
    text-align: left;
    color: #4f4e4e;
    width: 600px;
    margin: 0px;
}
.container_item__card__body__add{
    margin: 0px;
    width: 180px;
    background-color:#4f4e4e;
}
.container_item button:hover{
    background-color: rgb(145, 95, 54);
    color: #ffffff;
}


@media only screen and (max-width: 650px){
    .container_item__card{
        flex-direction: column;
        margin-top: 120px;
        margin-bottom: 50px;
        min-width: 90%;
        max-width: 100%;
        max-height: 100%;
    }
    .container_item__card__img img{
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 5px;
    }
    .container_item__card__body{
        padding: 5px;
    }
}
